.margin-right-sm {
  margin-right: .5em;
}

.margin-top-xs-1 {
  margin-top: .25em;
}

.margin-top-xs-2 {
  margin-top: .5em;
}

.margin-left-xs-1 {
  margin-left: .25em;
}

.margin-left-xs-2 {
  margin-left: .5em;
}

.position-relative {
  position: relative;
}
