@import "variables/colors";

body {
  background-color: $background-color-1;
  color: $color-1;
  font-family: calibri;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.breadcrumb a {
  color: inherit;
}
