<div card-container class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
  <form accept-charset="UTF-8" class="card" id="new_user" method="post" novalidate="novalidate" ng-controller="RegistrationsController as registration" ng-submit="registration.submit()">
    <h3>Sign Up</h3>
    <hr>
    <div class="form-group">
      <label class="sr-only" for="email">Display name</label>
      <input class="form-control input-lg" autofocus="autofocus" id="display_name" name="display_name" placeholder="Display name" type="text" required ng-model="registration.displayName" />
    </div>

    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input class="form-control input-lg" autofocus="autofocus" id="email" name="email" placeholder="Email" type="email" required ng-model="registration.email" />
    </div>

    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input class="form-control input-lg" id="password" name="password" type="password" placeholder="Password" ng-model="registration.password" required />
    </div>

    <div class="form-group">
      <label class="sr-only" for="password_confirmation">Password confirmation</label>
      <input class="form-control input-lg" id="password_confirmation" name="password_confirmation" placeholder="Password confirmation" type="password" ng-model="registration.passwordConfirmation" required match="registration.password" />
    </div>

    <div class="form-group clearfix">
      <button class="btn btn-primary btn-lg pull-right" name="commit" type="submit">
        <span class="fa fa-lg fa-rocket margin-right-sm"></span>
        Sign up
      </button>
    </div>

  </form>
  <a class="btn btn-default pull-left margin-top-xs-2" ui-sref="sessions.new">
    <span class="fa fa-lg fa-angle-left margin-right-sm"></span>
    <span>Sign in</span>
  </a>
</div>
