.page-header {
  border-bottom: 0;
  box-shadow: 0 .125em .125em 0 rgba(127, 127, 127, .6);
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header.blue {
  background-color: #2086f5;
  color: #fefefe;
}
