<!DOCTYPE html>
<html>
  <head>
    <title>IntervalBraining</title>
    <%= stylesheet_link_tag 'interval_braining_ui/application', media: 'all' %>
    <%= javascript_include_tag 'interval_braining_ui/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= yield %>

  </body>
</html>
