<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a>
        <i class="fa fa-fw fa-lg fa-dashboard"></i>
        My Braining
        <i class="fa fa-lg fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a ui-sref="dashboard">Dashboard</a></li>
        <li><a>Stats</a></li>
        <li><a>Goals</a></li>
        <li><a>History</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a>
        <i class="fa fa-fw fa-lg fa-bolt"></i>
        Review
        <i class="fa fa-lg fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a>New Session</a></li>
        <li><a>Quick Review</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a>
        <i class="fa fa-fw fa-lg fa-plus-circle"></i>
        Add
        <i class="fa fa-lg fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a>New Card</a></li>
        <li><a>New Deck</a></li>
        <li><a>Browse Shared Decks</a></li>
        <li><a>Import</a></li>
      </ul>
    </li>
  </ul>
  <ul class="navbar-nav nav navbar-right">
    <li class="dropdown">
      <a>
        <i class="fa fa-fw fa-lg fa-user"></i>
        <span class="hidden-sm">someone@example.com</span>
        <i class="fa fa-lg fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a>Account</a></li>
        <li><a>Sign Out</a></li>
      </ul>
    </li>
  </ul>
  <form class="navbar-form navbar-right hidden-xs hidden-sm">
    <div class="form-group">
      <button type="submit" class="btn-icon"><i class="fa fa-fw fa-lg fa-search"></i></button>
      <input type="text" class="form-control input-sm" required="true" placeholder="Search">
    </div>
  </form>
</div>
